*{
    font-family: Arial, Helvetica, sans-serif;
  }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login > div {
  width: 50%;
  padding: 30px 30px 0;
    
  
}
.login h1,
.login h2 {

  color: black;
  text-align: center;
}
[type="tel"] {
  background-color: white;
}
.login img{
  background-color: #fffbec;
  padding: 30px 30px 0;
    width: 100%;
    max-height: 1300px;
}
.input {
  /* border: 1px solid red; */
  text-align: center;
  width: 100%;
}
h4 {
  color: darkgray;
  padding-bottom: 18px;
}
[type="tel"]:focus {
  outline: none;
}
.input input {
  width: 60%;
  padding: 20px 0px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

#continue {
  background-color: #5b5bff;
  color: #fff;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 20px;
  width: 60%;

  transition: all 0.2s ease-in-out;
}

#continue:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
  background-color: #3636ff;
}
button {
  padding: 10px 5px;
  width: 60%;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  color: #615c5c;
}
[type="submit"] {
  cursor: pointer;
}
#or-line {
  display: flex;
  width: 60%;
  margin: auto;
}
.center-line {
  border-bottom: 1px solid darkgray;
  height: 1px;
  width: 50%;
  margin: auto;
}
#or {
  margin: 20px 0;
  width: 10%;
}
#upper-buttons button {
  cursor: pointer;
}
#lower-buttons button {
  width: 30%;
}
p {
  width: 50%;
  margin: auto;
  font-size: 14px;

  position: relative;
  bottom: -30px;
  color: darkgray;
}

p a {
  color: #42a2a2;
}


#continue2 {
  background-color: #fe0000;
  color: #fff;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 20px;
  width: 60%;

  transition: all 0.2s ease-in-out;
}

#continue2:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
  background-color: #3636ff;
}